.game {
    text-align: center;
}

#content-desktop {
    display: block; 
}

.show{
    margin-top: 140px;
    font-size: 60px;
}

.word {
    margin-top: 180px;
    font-size: 60px;
}

#no {
    font-size: 30px;
}

button {
    margin-left: auto;
    margin-right: auto;
}

#content-mobile {display: none;}
.show-word-toggle {display:block}
.hide-word-toggle {display:none}
.show-random-toggle {display:block;}
.hide-random-toggle {display:none;}
.show-reset-toggle {display:block;}
.hide-reset-toggle {display:none;}

@media screen and (max-width: 768px) {

    #content-desktop {display: none;}
    #content-mobile {display: block;}

}